@import url('https://fonts.googleapis.com/css?family=Archivo Black');
@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');




#logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

.searchbar {
    height: 38px;
    width:280px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-top:10px;
    border-radius: 6px;
}


